:root,
:root.light {
	--color-bg: #ffffff;
	--color-fg: #000000;
	--card-bg-color: #fafafa;
}
:root.dark {
	--color-bg: #121212;
	--color-fg: #ffffff;
	--card-bg-color: #607d8b;
}

*, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .logo {
	background-color: var(--color-bg);
	color: var(--color-fg);
}

.toggle-switch {
  position: relative;
  width: 70px;
  height: 30px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-box-shadow: inset 7px -4px 0px 0px var(--light);
  box-shadow: inset 7px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(37px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}
